/* styles.css */
body {
  font-family: "Verdana", sans-serif;
  background-color: rgb(238, 226, 226);
  color: rgb(66, 54, 54);
}

h1,
h2 {
  font-family: "Georgia", serif;
}

p {
  font-family: "Courier New", monospace;
}

h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 80px;
  font-style: italic;
}
header > p {
  text-align: center;
  padding-bottom: 30px;
  font-size: 20px;
}
.header-img {
  width: 50%;
  height: auto;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html {
  width: 50%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: red;
}

footer {
  text-align: center;
  padding-top: 30px;
}

#copyright {
  padding-top: 10px;
  text-align: center;
}


/* Example media query for screens smaller than 768px */
@media (max-width: 768px) {
    /* Your styles for smaller screens go here */

    img {
        max-width: 100%;
        height: auto;
      }
      
  }
  